* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.container {
  height: 80vh;
  background-color: #000;
  border-radius: 1rem;
  width: 90%;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
}

a {
  text-decoration: none;
  color: inherit;
}
