.btn {
  display: grid;
  place-content: center;
  background-color: #e0e0e0;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  border: 1px solid #eee;
}

.btn:hover {
  background-color: #fff;
}

.orange {
  background-color: #f4913d;
}

.orange:hover {
  background-color: #fff;
  color: #f4913d;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
}
